<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  {% include google-analytics-ga4.html %}

  <body>
    <video autoplay loop muted playsinline id="background-video">
      <source src="{{ '/assets/videos/background.mp4' | relative_url }}" type="video/mp4">
    </video>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>

</html>
