---
layout: default
---

<div class="about-container">
  
  <div class="about-image">
    <img src="{{ '/assets/images/naraen_pfp.png' | relative_url }}" alt = "Naraen Palanikumar">
  </div>

  <div class="about-text">
    <h2>Hello and Welcome!</h2>
    <p>
      This website was created by and for Naraen Palanikumar to showcase projects and share blog posts discussing my thoughts on research, data, and books. My research and work focus is in Bioinformatics, and my primary languages of expertise are R and Python.
    </p>
    <p>
      Feel free to explore my <a href="{{ '/portfolio' | relative_url }}">portfolio</a>, read my <a href="{{ '/blog' | relative_url }}">blog</a>, or view my <a href="{{ '/cv' | relative_url }}">CV</a>.
    </p>
    <div class="social-links">
      <a href="mailto:naraen.p@gmail.com">
        <img src="{{ '/assets/icons/mail.svg' | relative_url }}" alt="Mail Icon">
        Email
      </a> |
        <a href="https://www.linkedin.com/in/naraenp/">
        <img src="{{ '/assets/icons/linkedin.svg' | relative_url }}" alt="LinkedIn Icon">
        LinkedIn
      </a> |
        <a href="https://github.com/naraenp">
        <img src="{{ '/assets/icons/github.svg' | relative_url }}" alt="GitHub Icon"> 
        GitHub
      </a> |   
      <a href="https://orcid.org/0000-0001-8513-4590">
        <img src="{{ '/assets/icons/orcid.svg' | relative_url }}" alt="OrcID Icon">
        OrcID
      </a>
    </div>
  </div>
</div>